/* *{
    margin: 0;
    /* padding: 0;
    box-sizing: border-box; */
/* } */
#nav {
    /*  */
    margin:0px;
/*  */

    width: 100%;
    height: 70px;
    background: black;
   
}
/*  */
body{
    /* margin-top: 0px;
    margin-left: 0px;
    margin-right:0px;  */
    margin: 0px;
}

/*  */
#head {
   
   
   
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

#lakme {
   
   
   

    color: white;
    margin-left: 20px;
    display: flex;
}

#middle {
  
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    /* padding: 20px; */
    /* margin-top: 10px;
    margin-left: 50px; */
    


}

.bg-white{
color:white !important;
}

#middle>div {
    margin-right: 10px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#icon {
   
    display: flex;
    color: aliceblue;
 
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;


}

#icon>div {
    justify-content: space-around;
    margin-left: 20px;
}

#menu {
    display: none;
    color: aliceblue;
}

.sm-icon {
    display: none;
    color: white;

}

@media only screen and (min-width:375px) and (max-width:768px) {
    #middle {
        display: none;

    }

    #menu {
        display: block;

    }

    #head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (min-width:0px) and (max-width:375px) {
    #nav {
    /* width: 100%; */
    height: 70px;
    background: black;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding: 0px 10px 0px 10px;


    /*  */
    width: 95%;

    /*  */
   
}
    #head {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    .sm-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        flex: 2;
    }

    #icon {
        display: none;
    }

    #middle {
        display: none;

    }

    #menu {
        display: block;

    }

   
    #lakme{
        flex: 8;
    }
    #menu{
        flex: 2;
    }




}